[submodule "submodules/account-abstraction"]
	path = submodules/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction.git
	branch = fix-deployment
[submodule "submodules/account-abstraction/"]
	branch = fix-deployment
