node_modules
.env
coverage
coverage.json
typechain
packages/bundler/src/typechain-types

#Hardhat files
cache
artifacts
/packages/**/dist/
/packages/contracts/types/
.DS_Store
/.idea/bundler.iml
/.idea/modules.xml
/packages/bundler/tsconfig.tsbuildinfo
