node_modules
.env
coverage
coverage.json
typechain
packages/bundler/src/typechain-types
cache
artifacts
.DS_Store
/.idea/bundler.iml
/.idea/modules.xml
/packages/bundler/tsconfig.tsbuildinfo
tsconfig.tsbuildinfo
/packages/utils/src/types/
/.idea/codeStyles/Project.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/inspectionProfiles/Project_Default.xml
/packages/bundler/typechain-types/
/packages/bundler/deployments/
**/dist/
/packages/bundler/src/types/
yarn-error.log
.vscode