[submodule "submodules/account-abstraction"]
	path = submodules/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction.git
	branch = develop
[submodule "submodules/rip7560"]
	path = submodules/rip7560
	url = https://github.com/eth-infinitism/rip7560_contracts.git
