node_modules
.env
coverage
coverage.json
cache
artifacts
.DS_Store
/.idea/bundler.iml
/.idea/modules.xml
/packages/bundler/tsconfig.tsbuildinfo
tsconfig.tsbuildinfo
/.idea/codeStyles/Project.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/inspectionProfiles/Project_Default.xml
/packages/bundler/deployments/
**/dist/
/packages/*/src/types/
yarn-error.log
.vscode
